<ion-header>
  <ion-toolbar color="gold">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="focus"></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-chip>
        <ion-label>Top Vente</ion-label>
        <ion-toggle color="gold" ></ion-toggle>
      </ion-chip >
        <ion-chip *ngFor="let c of category" color="gold"  >
          <ion-label color="dark">{{c.name}}</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option value="f">Female</ion-select-option >
          </ion-select>
        </ion-chip>
    </ion-row>
  </ion-grid>
</ion-content>
