<ion-header>
  <ion-toolbar color="gold">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Food</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="always"></ion-searchbar> 
  <ion-grid>
    <ion-row>
      <ion-chip>
        <ion-label>Top Vente</ion-label>
        <ion-toggle color="gold" (ionchange)="chargeFoodOrder()"></ion-toggle>
      </ion-chip >
        <ion-chip *ngFor="let ft of foodtype" color="gold"  (click)="chargerFood(ft.foods)">
          <ion-label color="dark">{{ft.name}}</ion-label>
        </ion-chip>
    </ion-row>
  </ion-grid>
 
  <ion-grid>
    <ion-row >
      <ion-col *ngFor="let f of foods" size="6">
        <ion-card >
           <img src="{{this.service.images+f.foodPicture}}"/>
       <ion-card-content>
         <ion-card-subtitle>{{f.name}}</ion-card-subtitle>
         <ion-card-subtitle>{{f.Description}}</ion-card-subtitle>
         <ion-button (click)="Ajouter()" color="gold" size="small">
          Ajouter
        </ion-button>
       </ion-card-content>
     
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
  
<ion-chip class="gold-degrade">
  <ion-icon name="cart"></ion-icon>
  <ion-icon name="add-circle"></ion-icon>
  <ion-label>{{nbr}}</ion-label>
</ion-chip>
  </ion-fab>
</ion-content>
