<ion-header >
  <ion-toolbar class="gold-degrade">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-avatar >
        <img src="../../assets/image/fes.PNG">
      </ion-avatar>
    </ion-card-header>
  
    <ion-card-content>
      <form>
        <ion-item lines="full">
          <ion-label position="floating">User</ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>
    
        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>
    
        <ion-row>
          <ion-col>
            <ion-button type="submit" class="gold-degrade" expand="block">Sign In</ion-button>
          </ion-col>
         <ion-col>
            <ion-buttons collapse="true">
              <ion-button slot="star" class="gold-degrade">
                 create account
              </ion-button>
            </ion-buttons>
            <ion-buttons collapse="true">
              <ion-button slot="end"class="gold-degrade">
               password or usename forgot ?
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
  
</ion-content>
