/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.ion-color-gold {
    --ion-color-base: var(--ion-color-gold) !important;
    --ion-color-base-rgb: var(--ion-color-gold-rgb) !important;
    --ion-color-contrast: var(--ion-color-gold-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-gold-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-gold-shade) !important;
    --ion-color-tint: var(--ion-color-gold-tint) !important;
    }

    .gold-degrade{
        --background: #977334;
        --background: -moz-linear-gradient(45deg,#977334 0%,#dacdb8 100%);
        --background: -webkit-gradient(left bottom, right top, color-stop(0%, #977334), color-stop(100%, #dacdb8));
        --background: -webkit-linear-gradient(45deg, #977334 0%, #dacdb8 100%);
        --background: -o-linear-gradient(45deg, #977334 0%, #dacdb8 100%);
        --background: -ms-linear-gradient(45deg, #977334 0%, #dacdb8 100%);
        --background: linear-gradient(45deg, #977334 0%, #dacdb8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#977334', endColorstr='#dacdb8', GradientType=1 );
    
        --color:#000000;
    }