// Slider Style START 
.custon-nav{
  height: 480px;
  width: 200px;
  cursor: pointer;

  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.prev-icon-custom{
  background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll 0px 0px;
}
.prev-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.next-icon-custom{
  background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll -32px 0px;
}
.next-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.slider-nav{
  ion-icon{
      height: 100%;
  }
}
ion-slides{
width: auto;
height: auto;
}
ion-slide{
  width: 100%;
  height: 100%;
  }

.slide-text{
  position: absolute;
  color: white;
  bottom: 30px;
}
.video-background {
	background-color:rgb(200,0,0);
}

.video-shadow {
	background-color: rgb(0,0,0);
	box-shadow: 0 5px 15px rgb(0,0,0);
    margin: 20px 20px !important;
}

.video-container {
    position: relative;
    padding-bottom: 65%;
    /*padding-top: 50px;*/
    height: 0; 
    overflow: hidden;
}
 
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    padding: 15px 0; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
// Slider Style STOP