<ion-header [translucent]="true">
  <ion-toolbar color="gold">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

        <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
          (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
          <ion-slide *ngFor="let s of sliderOne.slidesItems">
            <img src="../../assets/image/fes.PNG">
            <span class="slide-text">Slide id {{s.id}}</span>
          </ion-slide>
        </ion-slides>
        <ion-button (click)="openYouTubeVedio()">Start Video</ion-button>

</ion-content>